@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center row">
    <h1 class="display-4">ВСЕ ПРО МЕНЕ</h1>
    <img src="~/img/myface.jpg" class="my-photo" />
    <h2>ВОРОБЕЙ ДМИТРО СЕРГІЙОВИЧ</h2>
</div>

<div class="row margin-bottom">
    <div class="col-md-4 col-sm-12 text-bold">
        Дата народження
    </div>
    <div class="col-md-8 col-sm-12 text-justify">
        16 серпня 1992 року
    </div>
</div>

<div class="row margin-bottom">
    <div class="col-md-4 col-sm-12 text-bold">
        Сімейний стан
    </div>
    <div class="col-md-8 col-sm-12 text-justify">
        одружений
    </div>
</div>

<div class="row margin-bottom">
    <div class="col-md-4 col-sm-12 text-bold">
        Адреса
    </div>
    <div class="col-md-8 col-sm-12 text-justify">
        33000, м. Рівне
    </div>
</div>

<div class="row margin-bottom">
    <div class="col-md-4 col-sm-12 text-bold">
        Телефон
    </div>
    <div class="col-md-8 col-sm-12 text-justify">
        +38 (068) 052*****
    </div>
</div>
<div class="row margin-bottom">
    <div class="col-md-4 col-sm-12 text-bold">
        e-mail
    </div>
    <div class="col-md-8 col-sm-12 text-justify">
        <a href="mailto:*******@@gmail.com">*******@@gmail.com</a>
    </div>
</div>

<div class="row margin-bottom">
    <h3>Освіта та підготовка</h3>
</div>

<div class="row margin-bottom">
    <div class="col-md-4 col-sm-12 text-bold">
        1999 - 2007 рр.
    </div>
    <div class="col-md-8 col-sm-12 text-justify">
        НВО № 18 м. Рівне
    </div>
</div>

<div class="row margin-bottom">
    <div class="col-md-4 col-sm-12 text-bold">
        2007 - 2011 рр.
    </div>
    <div class="col-md-8 col-sm-12 text-justify">
        Автотранспортний технікум Національного університету водного господарства та 
        природокористування, денна форма механічого відділення, 
        спеціальність "Ремонт і обслуговування автомобілів і двигунів".
        Отримав диплом з відзнакою молодшого спеціаліста.
    </div>
</div>

<div class="row margin-bottom">
    <div class="col-md-4 col-sm-12 text-bold">
        Вересень 2009 - березень 2010 рр.
    </div>
    <div class="col-md-8 col-sm-12 text-justify">
        Водійські курси в Автотранспортному технікумі НУВГП. Отримав сертифікат про закінчення курсів, і після здачі екзамену у  МРЕВО отримав водійські права категорії ВС.
    </div>
</div>

<div class="row margin-bottom">
    <div class="col-md-4 col-sm-12 text-bold">
        2011 - 2013 рр.
    </div>
    <div class="col-md-8 col-sm-12 text-justify">
        Національний університет водного господарства та природокористування , 
        денне відділення механіко-енергетичного факультету , спеціальність 
        "Автомобілі та автомобільне господарство". Освітньо-кваліфікаційний рівень бакалавр.
    </div>
</div>

<div class="row margin-bottom">
    <div class="col-md-4 col-sm-12 text-bold">
        2013 - 2014рр.
    </div>
    <div class="col-md-8 col-sm-12 text-justify">
        Національний університет водного господарства та природокористування , 
        денне відділення Науково-навчального автодорожнього інституту , 
        спеціальність "Автомобілі та автомобільне господарство".
    </div>
</div>

<div class="row margin-bottom">
    <h3>Практичний досвід</h3>
</div>

<div class="row margin-bottom">
    <div class="col-md-4 col-sm-12 text-bold">
        Березень 2009 р.
    </div>
    <div class="col-md-8 col-sm-12 text-justify">
        Слюсарна і верстатна практика в майстернях Автотранспортного технікуму НУВГП.
    </div>
</div>

<div class="row margin-bottom">
    <div class="col-md-4 col-sm-12 text-bold">
        Квітень 2010 р.
    </div>
    <div class="col-md-8 col-sm-12 text-justify">
        Виробнича практика в КАТП-1728 на посаді 
        автослюсара (виконання слюсарних робіт по ремонту і обслуговуванню рухомого складу).
    </div>
</div>

<div class="row margin-bottom">
    <div class="col-md-4 col-sm-12 text-bold">
        Жовтень 2010 р.
    </div>
    <div class="col-md-8 col-sm-12 text-justify">
        Виробнича практика на 13му РемЗаводі м. Рівне на посаді автослюсаря.
    </div>
</div>

<div class="row margin-bottom">
    <h3>Додаткова інформація</h3>
</div>

<div class="row margin-bottom">
    <div class="col-md-4 col-sm-12 text-bold">
        Особисті якості
    </div>
    <div class="col-md-8 col-sm-12 text-justify">
        чесність, відповідальність, цілеспрямованість, сумлінність, працьовитість.
    </div>
</div>

<div class="row margin-bottom">
    <div class="col-md-4 col-sm-12 text-bold">
        Знання мов
    </div>
    <div class="col-md-8 col-sm-12 text-justify">
        українська, російська - вільно, англійська - хороші знання.
    </div>
</div>

<div class="row margin-bottom">
    <div class="col-md-4 col-sm-12 text-bold">
        Комп'ютерна грамотність
    </div>
    <div class="col-md-8 col-sm-12 text-justify">
        володію персональним комп'ютером на рівні користувача
        (програми: Windows ХР, Word, Excel, Photoshop,  Internet, КОМПАС 3D V13, AutoCAD 2013).

    </div>
</div>

<div class="row margin-bottom">
    <div class="col-md-12 col-sm-12 text-bold">
        Є посвідчення водія категорії "В,BE,C,CE".
    </div>
</div>

<div class="row margin-bottom">
    <div class="col-md-4 col-sm-12 text-bold">
        Досягнення
    </div>
    <div class="col-md-8 col-sm-12 text-justify">
        студент року протягом 2009-2011 рр АТТ НУВГП, диплом молодшого спеціаліста з відзнакою, диплом бакалавра з відзнакою.
    </div>
</div>

<div class="row margin-bottom">
    <div class="col-md-4 col-sm-12 text-bold">
        Уподобання
    </div>
    <div class="col-md-8 col-sm-12 text-justify">
        спорт, автомобілі, музика.
    </div>
</div>

<div class="row margin-bottom">
    <div class="col-md-4 col-sm-12 text-bold">
        Ділові якості
    </div>
    <div class="col-md-8 col-sm-12 text-justify">
        високі організаторські здібності, порядність, комунікабельність, вміння працювати в команді, аналітичне мислення, бажання працювати на результат.
    </div>
</div>