html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-bold {
    font-weight: bold;
}

.margin-bottom {
    margin-bottom: 10px
}

.times-new-roman {
    font-family: 'Times New Roman', sans-serif;
}

.text-justify {
    text-align: justify;
}

h3{
    text-align:center;
}

.my-photo {
    width: 200px;
    margin: auto;
}

.my-photo:hover{
    width:400px;
    cursor: zoom-in;
}